.infoSection {
    max-width: 1200px;
}

.infoBody {
    & .infoDiv {
        margin-left: 10px;
    }

    & .coctailImage {
        max-width: 650px;
    }
}

.infoBody {
    display: flex;
}

.extraInfo {
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: flex;
    justify-content: space-between;
}

.infoDiv .btn {
    &#isFavourited {
        background: none;
        border: none;
        font-variation-settings: 'FILL' 1;
    }

    &#isNotFavourited {
        background: none;
        border: none;
    }
}