.infoBody {
    & .infoDiv {
        margin-left: 10px;
    }

    & .coctailImage {
        max-width: 650px;
    }
}

.infoBody {
    display: flex;
}

.extraInfo {
    display: flex;
    flex-direction: column;
}

.ingredients {
    display: flex;
    justify-content: space-between;
}