.coctailCardDiv {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.coctailCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 5px;

    & .thumbnail {
        max-width: 300px;
    }

    & h2 {
        border-bottom: black solid 1px;
    }

    & .link {
        margin-bottom: 20px;
    }

    & .infoDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}