.loadingCardDiv {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.loadingCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: black solid 2px;
    border-radius: 5px;
    width: 300px;
    height: 406px;

    & .loadingThumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 300px;
        background-color: rgba(145, 145, 145, 0.877);
    }

    & h2 {
        border-bottom: black solid 1px;
    }

    & .infoDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}